<header class="header">
    <h3 class="text-muted">User list</h3>
</header>
<div class="row">
    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Filter">
        </div>
    </div>
</div>
<ul class="pagination">
    <li><a href="#">&laquo; Previous 10 users</a></li>
    <li class="disabled"><span>Showing 11-20 of 22 users</span></li>
    <li><a href="#">Next 10 users &raquo;</a></li>
</ul>
<table class="table table-striped">
    <colgroup>
        <col width="18%"/>
        <col width="18%"/>
        <col width="8%"/>
        <col width="20%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="15%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Created on</th>
            <th>Last edited</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="text" placeholder="Enter last name"/></td>
            <td><input class="form-control" type="text" placeholder="Enter first name"/></td>
            <td><input class="form-control" type="number" placeholder="Age"/></td>
            <td><input class="form-control" type="email" placeholder="email@yourdomain.com"/></td>
            <td colspan="2"></td>
            <td>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-share"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li><a href="#">&laquo; Previous 10 users</a></li>
    <li class="disabled"><span>Showing 11-20 of 22 users</span></li>
    <li><a href="#">Next 10 users &raquo;</a></li>
</ul>
